<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterfataUtilizator_WindowsForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="NumeFisier" value="evenimente.txt"/>
		<add key="NumeFisier2" value="useri.txt"/>
	</appSettings>
 <userSettings>
  <InterfataUtilizator_WindowsForms.Properties.Settings>
   <setting name="LastUserId" serializeAs="String">
    <value>0</value>
   </setting>
  </InterfataUtilizator_WindowsForms.Properties.Settings>
 </userSettings>
</configuration>